#root {
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    height: 8em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #00d8ff);
}
.logo.vite:hover {
    filter: drop-shadow(0 0 2em #ffea83);
}
.logo.eslint:hover {
    filter: drop-shadow(0 0 2em #7986cb);
}
.logo.tailwind:hover {
    filter: drop-shadow(0 0 2em #00c1e0);
}
.logo.typescript:hover {
    filter: drop-shadow(0 0 2em #16528c);
}
.logo.prettier:hover {
    filter: drop-shadow(0 0 2em #d0d4d8);
}

.card {
    padding: 2em;
}
